.addFormPage {
    flex: 1 1 auto;
}

.AddFormContent {
    width: 100%;
    padding: 50px;
    margin: 50px auto;
}

.AddFormTitle {
    margin: 0 0 15px 0;
}

.field:not(:last-child) {
    margin: 0 0 20px 0 !important;
}